<html>
<head>
  <title>Profile Page</title>
  <link rel="stylesheet" href="/app.css"/>
</head>
<body>
<h1>Secret Stuff</h1>

<table>
  <tr><td>User</td><td>:&nbsp;<%= user %></td></tr>
  <tr><td>Password</td><td>:&nbsp;<%= password %></td></tr>
</table>

<form action="/profile" method="POST">

  <label for="newpassword">New Password</label>
  <input type="text" name="newpassword" value="<%= password %>" id="newpassword"/>

  <button>Change Password</button>
</form>

</body>
</html>
